.new-taining{
    padding: 30px;

    mat-card{
        padding: 30px;

        mat-card-title{
            margin-bottom: 16px;
        }

        mat-card-conten{
            margin-bottom: 10px;
        }
    }
}